
.fen{
		height:100%;
		width:100%;
		font-family: '苹方-简 常规体';
		background: #f4f4f4;
		display: flex;
		flex-direction: column;
		.header{
			width: 100%;
		}
		.grade-gui{
			background: #fff;
			display:flex;
			justify-content: flex-end;
		}
		.grade-gui view{
			color:#333;
			font-size:32upx;
			// line-height:50upx;
			margin-right:30upx;
		}
	}
.title{
	width:750upx;
	height:108upx;
	display:flex;
	background: #fff;
	position:fixed;
	left:0;
	top:0;
	z-index:99;
}
.back{
	width:60upx;
	height:108upx;
	margin:24upx 0;
	margin-right:224upx;
}
.back image{
	width:60upx;
	height:60upx;
}
.title-b{
	display:flex;
	flex-wrap: wrap;
}
.title-b text{
	font-size:40upx;
	font-family: '苹方-简 中黑体';
	// font-weight: bold;
	color:#333;
	line-height:108upx;
}
.title-b view{
	font-size:32upx;
	color:#333;
	line-height:108upx;
	
}
.main{
	background-color: #fff;
	// padding-top:108upx;
}
.totalZ{
	width:750upx;
	height:240upx;
	background-color: #F4F4F4;
	padding:20upx 0;
}
.total{
	width:690upx;
	height: 196upx;
	background: linear-gradient(90deg, #FD8A03 0%, #FD5700 100%);
	border-radius: 20px;
	text-align:center;
	margin:0 auto;
	color:#fff;
	padding-top:44upx;
	font-size:28upx;
	line-height:40upx;
}
.total text{
	display:inline-block;
	font-size:72upx;
	line-height:100upx;
	margin-bottom:10upx;
}
.grades-head{
	width:750upx;
	height:108upx;
	border-bottom:2upx solid #BABABA;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.head-list{
	width:128upx;
	line-height:108upx;
	font-size:32upx;
	color:#333;
}
.head-list1{
	width:128upx;
	line-height:106upx;
	font-size:32upx;
	color:#FA6E39;
	border-bottom:4upx solid #FA6E39;
}
.grades-list{
	height:108upx;
	width:690upx;
	padding:0 30upx;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.list-left{
	margin-top:20upx;
	font-size:20upx;
	color:#999;
	line-height:28upx;
}
.list-left view{
	font-size:28upx;
	color:#333;
	line-height:40upx;
	margin-bottom:10upx;
}
.list-right{
	line-height:108upx;
	font-size:28upx;
	color:#333;
}
.grades-body1{
	width:750upx;
	height:796upx;
	background:#F4F4F4;
	text-align:center;
}
.grades-body1 image{
	width:560upx;
	height:560upx;
	margin:20upx auto 60upx;
}
.grades-body1 view{
	font-size:36upx;
	line-height:50upx;
	color:#666;
	// text-align:center;
}
